@import '../styles/utils.scss';

.SassComponent {
    display: flex;
    .box {
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &.red {
            // .red클래스가 .box와 함께 사용 됐을 때
            @include square(1);
        }
        &.orange {
            background: $orange;
            @include square(2);
        }
        &.yellow {
            background: $yellow;
            @include square(3);
        }
        &.green {
            background: $green;
            @include square(4);
        }
        &.blue {
            background: $blue;
            @include square(5);
        }
        &.indigo {
            background: $violet;
            @include square(6);
        }
        &:hover {
            //.box에 마우스 올렸을 때
            background: black;
        }
    }

}